<!doctype html>
<html class="no-js" lang="ru">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="icon" href="{{root}}assets/img/favicon/favicon.png" type="image/x-icon">
	<title>{{title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin,cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
<body>
	<div class="off-canvas-wrapper">
		<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
			
		</div>
		<div class="off-canvas-content" data-off-canvas-content>
			<div class="page-wrapper">
				<div class="page-wrapper__body">
					{{> body}}
				</div>
				<div class="page-wrapper__footer"></div>
			</div>
		</div>
	</div>
	<div class="reveal large" id="modal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out"></div>
	<script src="{{root}}js/common.js"></script>
</body>
</html>